.container {
  background-color: #0b1a2d;
  color: #ffffff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: #ffb01c;
  font-weight: 700;
}

.courseList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.courseItem {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.courseButton {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px;
  border: none;
  background: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  position: relative;
}

.courseButton:hover {
  background-color: #f0f0f0;
}

.courseButton::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00aaff; /* Cambia esto al color deseado */
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.courseButton:hover::after {
  transform: scaleX(1);
}

.courseName{
  font-size: 1.5rem;
}
