/* CodeEditor.module.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .editorSection {
    display: flex;
    flex-direction: row;
    height: 70%;
    border-bottom: 2px solid #333;
  }
  
  .editor {
    width: 70%;
    height: 100%;
    background-color: #1e1e1e;
  }
  
  .terminal {
    width: 30%;
    height: 100%;
    overflow: hidden;
    background: #000;
  }
  
  .preview {
    height: 30%;
    border: none;
  }
  